body {
    background-color: #2C2B33;
    color: #C4BCC6;
}

header {
    height: 40px;
    text-align: center;
    color: black;
    background-color: #e23;
    font-size: 30px;
    border: 2px solid black;
}

.nav {
    width: 100%;
    height: 42px;
    list-style: none;
    text-align: center;
    padding-left: 20%;
    opacity: 1.0;
}

.nav li {
    display: inline;
    background-color: red;
}

.nav a {
    display: inline-block;
    float: left;
    width: 20%;
    color: black;
    font-family: serif;
    text-decoration: none;
    padding: 3px;
    background-color: #D3D3D3;
    height: 65%;
}

.nav a:hover {
    background-color: #ff3300;
    color: yellow;
}

.nav img {

    display: block;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
    padding-left: 40%;
    padding-right: 40%;
    background-color: yellow;
}

.p1Intro {
    display: inline-block;
    margin: 5%;
    background-color: #C4BCC6;
    color: black;
    padding:2%;
}

.txtspc {
    height: 10% width:100%;
}

.p1Gal {
    display: inline-block;
    text-align: left;
}

.p1Gal h2 {
    color: red;
    text-align: center;
}

#HiddenText1 {
    visibility: hidden;
    float: left;
    background-color: #C4BCC6;
    color: black;
}

#HiddenText2 {
    visibility: hidden;
    float: left;
    background-color: #C4BCC6;
    color: black;
}

#HiddenText3 {
    visibility: hidden;
    float: left;
    background-color: #C4BCC6;
    color: black;
}

.p1Gal img {

    display: inline-block;
    padding: 0;
    min-height: 200px;
    max-width: 600px;
    width: 30%;
    height: 30%;
    margin-left: 20px;
}

.intImg {
	text-align:center;
    display: inline-block;
    padding: 0;
    width: 80%;
    height: 50%;
    margin-left: 20px;
   }

.sideImg {
	text-align:center;
    display: inline-block;
    padding: 0;
    width: 80%;
    height: 50%;
    margin-left: 20px;
}

.backImg {
	text-align:center;
    display: inline-block;
    padding: 0;
    width: 80%;
    height: 50%;
    margin-left: 20px;
}

.p1txt1 {
    float: left;
    padding: 2px;
}

.p1txt1 p {
    max-width: 100%;
    padding: 2px;
    float: left;
}

.p1txt2 {
    clear: both;
    padding: 2px;
    float: left;
}

.p1txt2 p {
    max-width: 100%;
    padding: 2px;
    float: left;
}

.p1txt3 {
    clear: both;
    padding: 2px;
    float: left;
}

.p1txt3 p {
    max-width: 100%;
    padding: 2px;
    float: left;
}

.p1Gal :hover {
    cursor: pointer;
    height: 60%;
    width: 100%;

    -webkit-filter: drop-shadow();
    filter: drop-shadow(10px 10px 10px #e23);
}

.P488vid {
    text-align: center;
}


